@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown > span {
  cursor: pointer;
  transition: color 0.3s ease;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #f9f9f9;
  justify-items: center;
  align-items: start;
  padding: 5px;
}
nav a,
span {
  transition: color 0.3s ease;
}
nav a:hover,
span:hover {
  color: red;
}
